<div class="main">
    <div class="welcome">
      <p><b>Welcome My Friend!</b></p>
    </div>
    <div class="login">
      <div class="box">
        <div class="L">
         <b>Log in</b>
        </div>
        <div>
          <input type="text" placeholder="Username">
        </div>
        <div>
          <input type="password" placeholder="Password">
        </div>
        <div class="Ll">
          <button class="buttons">Log in</button>
        </div>
        <div>
          <a href="">Forgat password?</a>
        </div>
        <div>
          <a href="">Sing up</a>
        </div>
      </div>
    </div>
  </div>