<div class="main">
    <div class="welcome">
        Welcome My Friend!
    </div>
    <div class="login">
        <div class="box">
            <div class="L">
                <b>Log in</b>
            </div>
            <div>
                <input [class.error]="username==''" [(ngModel)]="username" type="text" placeholder="Username">
                <div class="R">
                    @if (username=='') {
                    <span>Required</span>
                    }
                </div>
            </div>
            <div>
                <input [class.error]="password==''" [(ngModel)]="password" type="password" placeholder="Password">
                <div class="R">
                    @if (password=='') {
                        <span>Required</span>
                        }
                </div>
            </div>
            <div class="Ll">
                <button [disabled]="username=='' || password==''" (click)="data()">Log in</button>
            </div>
            <div>
                <a href="">Forgat password?</a>
            </div>
            <div>
                <a href="">Sing up</a>
            </div>
        </div>
    </div>
</div>